<?xml version="1.0"?>
<emden>
	<datafields>
		<datafield name="Name" />
		<datafield name="Adresse" />
		<datafield name="Telefonnummer" />
		<datafield name="Email" />
	</datafields>
	<sources>
		<csvsource id="SampleCSV" path="/home/felix/Downloads/datagen.txt" separator="," firstRowHeader="false">
			<datafields>
				<datafield name="Name" col="1" />
				<datafield name="Adresse" col="2" />
				<datafield name="Telefonnummer" col="3" />
				<datafield name="Email" col="4" />
			</datafields>
			<schedule cron="0 0/10 * * * ?" />
		</csvsource>
	</sources>
</emden>
