<?xml version="1.0"?>
<emden>
	<datafields>
		<datafield name="Title" />
		<datafield name="Text" />
		<datafield name="Url" />
		<datafield name="Urltext" />
		<datafield name="Shorttext" />
	</datafields>
	<sources>
		<csvsource path="/home/felix/Downloads/convertcsv.csv" separator="," firstRowHeader="true">
			<datafields>
				<datafield name="Title" col="1" />
				<datafield name="Text" col="2" />
			</datafields>
			<schedule cron="0 */10 * ? * *" />
		</csvsource>
	</sources>
</emden>
